<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input id="name" [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>AC:
        <input id="ac" [(ngModel)]="hero.ac" placeholder="ac"/>
      </label>
  </div>
  <div>
      <label>HP:
          <input id="hp_current" [(ngModel)]="hero.hp_current" placeholder="hp_current"/> / <input id="hp_max" [(ngModel)]="hero.hp_max" placeholder="hp_max"/>
        </label>
    </div>
    <div>
        <label>Strength:
            <input id="strength" [(ngModel)]="hero.strength" placeholder="strength"/>
          </label>
      </div>
</div>

<button id="btn_back" (click)="goBack()">go back</button>
